/* GLOBAL PAGE STYLES */

body {
    font-family: 'Ubuntu', sans-serif;
}

.container-fluid {
    padding: 3% 15%;
}

.col-lg-6 {
    padding: 0 0;
}


/* TITLE SECTION STYLES */

#title {
    background-color: #FF4C68;
}


/* HEADER STYLES */

.title-header {
    color: white;
    font-family: 'Montserrat-Black', sans-serif;
    font-size: 3.5rem;
    font-weight: bold;
    line-height: 1.5;
}


/* FEATURE SECTION STYLE */

#features {
    font-family: 'Montserrat-Bold', sans-serif;
    padding: 7% 15%;
}

.feature-container {
    padding: 5%;
    text-align: center;
}

.feature-header {
    font-size: 1.5rem;
}

.feature-subHeader {
    color: #8F8F8F;
}

.icon {
    color: #EF8172;
    padding-bottom: .5rem;
}

.icon:hover {
    color: #FF4C68;
}


/* TESTIMONIALS SECTION STYLES */

#testimonials {
    background-color: #EF8172;
    color: white;
    padding: 7% 15%;
    text-align: center;
}

.testimonials-header {
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}

.testimonial-img {
    border-radius: 100%;
    margin: 1.25rem;
    width: 10%;
}


/* PRESS SECTION STYLES */

#press {
    background-color: #EF8172;
    padding-bottom: 3%;
    text-align: center;
}

.press-img {
    margin: 1.25rem 1.25rem;
    width: 15%;
}


/* NAVBAR STYLES */

.navbar {
    padding-bottom: 4.5rem;
}

.navbar-brand {
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    margin: 0 1rem;
}

.nav-link {
    font-family: "Montserrat-Light";
    font-size: 1.2rem;
}


/* IMG STYLES */

.title-img {
    width: 60%;
    transform: rotate(25deg);
}


/* DOWNLOAD BUTTON STYLES */

.download-button {
    margin: 5% 3% 5% 0
}